.userCollectionCom{

    background-color: #DFDEE1;
    padding: 15px;
}
.userCollectionCom span{
    font-size: 1.5rem;

}
.userCollectionCom h5{
    display: inline-block;
    margin: 0;
    padding: 0;
}
#iconStyle:hover{
   color:yellow;
   cursor: pointer;
}
